{% extends "base.html" %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
    <strong>유방암 이진 분류 결과</strong>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form action="/classfication/cancer" method="post">
                <table class="table table-borderless">
                    <tr>
                        <td>테스트 인덱스</td>
                        <td style="text-align: center;">{{res.index}}</td>
                    </tr>
                    <tr>
                        <td>레이블값</td>
                        <td  style="text-align: center;">{{res.label}}{%if res.label%}(양성){% else %}(악성){% endif}</td>
                    </tr>
                    <tr>
                        <td>로지스틱 회귀 결과</td>
                        <td style="text-align: center;">{{res.pred_lr}}{%if res.pred_lr%}(양성){% else %}(악성){% endif}</td>                      
                    </tr>
                    <tr>
                        <td>서포트벡터머신 결과</td>
                        <td style="text-align: center;">{{res.pred_sv}}{%if res.pred_sv%}(양성){% else %}(악성){% endif}</td>                      
                    </tr>
                    <tr>
                        <td>랜덤포레스트 결과</td>
                        <td style="text-align: center;">{{res.pred_rf}}{%if res.pred_rf%}(양성){% else %}(악성){% endif}</td>                      
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <button class="btn btn-primary" onclick="location.href='classification/cancer'">재실행</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-2"></div>
<!--여기는 뭔지 잘 모르겠다-->
        <div class="col-1"></div>
        <div class="col-10">
            <table class="table table-sm">
                {% for key, value in org.items() %}
                    {% if not loop.first and loop.index % 3 == 1 %}
                    </tr>
                    {% endif %}
                    {% if loop.index % 3 == 1 %}
                    <tr class="d-flex">
                    {% endif %}
                        <td class="col-3"><small>{{key}}</small></td>
                        <td class="col-1"><small>{{value|round(4)}}</small></td>
                    {% if loop.last %}
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
        <div class="col-1"></div>  
    </div>
{% endblock %}