{% extends "base.html" %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
    <strong>네이버 영화평 분석하기</strong>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form action="/advanced/naver" method="post">
                <table class="table table-borderless">
                    <tr>
                        <td>
                            <div class="form-check-inline">
                                
                                <label class="form-check-label">
                                <input type="radio" class="form-check-input" id= "option1"name="optradio" value="index" checked><label for="index">테스트 인덱스</label>
                                
                                </label>
                            </div>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="index" name="index" placeholder="0 ~ 49999 사이의 값"  >
                        </td>
                    </tr>
                    <tr> 
                        <td >
                            <div class="form-check-inline">
                                <label class="form-check-label" >
                                <input type="radio" class="form-check-input" id="option2"  name="optradio" value="review"><label for="review">영화감상 입력</label>
                                </label>
                            </div>
                        </td>
                        <td>
                            <textarea class="form-control" cols="80" name="review" rows="5" id="review"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <button type="submit" class="btn btn-primary mr-2">실행</button>
                            <button type="reset" class="btn btn-secondary">취소</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}